.project-container {
  position: relative;
  margin-top: 80px;
  width: 100%;
}

.first-project {
  margin-top: 30px;
}

.last-project {
  margin-bottom: 60px;
}

.image-card-parent {
  background-color: var(--accent);
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
}

.image-card-child {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left top;
  border-radius: 7px;
  filter: grayscale(100%) contrast(1) brightness(90%);
  mix-blend-mode: multiply;
  transition: filter 0.25s, mix-blend-mode 0.25s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.image-card-child:hover {
  filter: grayscale(0%);
  mix-blend-mode: normal;
}

h3 {
  color: var(--primary-text);
}

.tech-text {
  color: var(--secondary-accent);
  font-size: 0.75rem;
}

.desc-text {
  font-size: 0.75rem;
  margin-top: 10px;
}

.info-card {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  border-radius: 7px;
}

.info-card-left {
  left: 0%;
  text-align: left;
}

.info-text {
  flex: 1;
}

.project-btn-container {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%);
}

.project-btn {
  /* margin-top: 10px; */
  width: 60vw;
}

@media screen and (min-width: 550px) {
  .image-card-child,
  .image-card-parent {
    width: 55vw;
  }

  .info-card {
    width: 55vw;
    top: 25%;
    right: 0%;
    background-color: var(--secondary-bg);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);
  }

  .project-btn-container {
    position: relative;
    bottom: 0;
    left: 0;
    transform: translate(0);
  }

  .project-btn {
    width: 40vw;
  }
}

/* @media screen and (min-width: 774px) {

} */
