.contact-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lets-talk {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-text);
}

.contact-buttons button {
  width: 100%;
}

@media screen and (min-width: 550px) {
  .contact-text {
    width: 490px;
  }

  .contact-buttons {
    width: 490px;
    justify-content: space-between;
  }

  .contact-buttons .btn-container {
    width: 40%;
  }
}

@media screen and (min-width: 1120px) {
  .contact-buttons {
    margin-top: 25px;
  }
  
}