header {
  background-size: cover;
  background-color: var(--alt-bg);
  /* color: var(--secondary-text); */
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  padding: 30px;
}

.logoplaceholder {
  background-color: var(--lighter-bg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
